In [27]:
import numpy as np
import pandas as pd
import sklearn


# Load data
ratings_column = ["MovieID","UserID","Rating"]
movie_ratings = pd.read_csv("netflix/ratings.txt",delimiter=",",names=ratings_column)
movie_ratings.head()
movie_ratings.shape
movie_column = ["MovieID","YearofRelease","Title"]
movie_titles = pd.read_csv("netflix/movie_titles.txt",delimiter=",", encoding="ISO-8859-1",names=movie_column)
movie_titles.head()
movie_titles.shape

(17768, 3)

In [22]:
# Merge both movie ratings and movie title data
movie_data = pd.merge(movie_ratings,movie_titles,on="MovieID")
movie_data.head(1000)

     MovieID   UserID  Rating  YearofRelease            Title
0         28  1392773     4.0         2002.0  Lilo and Stitch
1         28  1990901     5.0         2002.0  Lilo and Stitch
2         28   765331     3.0         2002.0  Lilo and Stitch
3         28  1987434     4.0         2002.0  Lilo and Stitch
4         28  2193455     4.0         2002.0  Lilo and Stitch
..       ...      ...     ...            ...              ...
995       28  2119151     5.0         2002.0  Lilo and Stitch
996       28  1049975     4.0         2002.0  Lilo and Stitch
997       28   153102     3.0         2002.0  Lilo and Stitch
998       28  1083968     3.0         2002.0  Lilo and Stitch
999       28   319226     3.0         2002.0  Lilo and Stitch

[1000 rows x 5 columns]

In [20]:
movie_data.groupby("Title")["Rating"].mean().sort_values(ascending=False).head()

Title
The Twilight Zone: Vol. 36                        4.179767
Farscape: The Peacekeeper Wars: Bonus Material    4.047619
Animal Crackers                                   4.012064
The Cowboys                                       3.838180
Door to Door                                      3.825653
Name: Rating, dtype: float64

In [32]:
# found the total number of ratings for a particular movie
movie_data.groupby("Title")["Rating"].count().sort_values(ascending=False).head()

Title
Sweet Home Alabama    20873
Beverly Hills Cop     20140
Tomb Raider           19935
Gremlins              19580
13 Going on 30        16542
Name: Rating, dtype: int64

In [ ]:
# test basis
mean_rating_count = pd.DataFrame(movie_data.groupby("Title")["Rating"].mean())
mean_rating_count["mean_rating_counts"] = pd.DataFrame(movie_data.groupby("Title")["Rating"].count())