In [12]:
import numpy as np
import pandas as pd
import sklearn

from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
%matplotlib inline

# for getting index of movie by movie name
from fuzzywuzzy import process

# Load data
ratings_column = ["MovieID","UserID","Rating"]
movie_ratings = pd.read_csv("netflix/ratings.txt",delimiter=",",names=ratings_column,index_col=0,dtype={"MovieID":"int32","UserID":"int32","Rating":"float32"})
movie_ratings.head(100)
#movie_ratings.shape
movie_column = ["MovieID","YearofRelease","Title"]
movie_titles = pd.read_csv("netflix/movie_titles.txt",delimiter=",", encoding="ISO-8859-1",names=movie_column)
movie_titles.head(13671)
#movie_titles.shape

       MovieID  YearofRelease                         Title
0            1         2003.0               Dinosaur Planet
1            2         2004.0    Isle of Man TT 2004 Review
2            3         1997.0                     Character
3            4         1994.0  Paula Abdul's Get Up & Dance
4            5         2004.0      The Rise and Fall of ECW
...        ...            ...                           ...
13666    13669         1988.0           Red Dwarf: Series 4
13667    13670         1997.0                   White Badge
13668    13671         1967.0             Samurai Rebellion
13669    13672         1973.0             Kung Fu: Season 2
13670    13673         1995.0                     Toy Story

[13671 rows x 3 columns]

In [28]:
# create sparse matrix
#  users
#         [2 3 4]
# Movies  [4 5 6]
#         [5 6 7]
#movies_users = movie_ratings.pivot(columns="UserID", values="Rating").fillna(0)

columns = ['movieID','userID','Rating']
movies_users = pd.read_csv('exampledataset/data.txt', delimiter=",", names=columns, index_col=0)
print(movies_users.shape)
movies_users = csr_matrix(movies_users.values)
print(movies_users)

(35, 2)
  (0, 0)	1.0
  (0, 1)	1.0
  (1, 0)	3.0
  (1, 1)	3.0
  (2, 0)	6.0
  (2, 1)	5.0
  (3, 0)	9.0
  (3, 1)	5.0
  (4, 0)	11.0
  (4, 1)	4.0
  (5, 0)	3.0
  (5, 1)	5.0
  (6, 0)	4.0
  (6, 1)	4.0
  (7, 0)	7.0
  (7, 1)	4.0
  (8, 0)	10.0
  (8, 1)	2.0
  (9, 0)	11.0
  (9, 1)	1.0
  (10, 0)	12.0
  (10, 1)	3.0
  (11, 0)	1.0
  (11, 1)	2.0
  (12, 0)	2.0
  :	:
  (22, 1)	4.0
  (23, 0)	11.0
  (23, 1)	2.0
  (24, 0)	3.0
  (24, 1)	4.0
  (25, 0)	4.0
  (25, 1)	3.0
  (26, 0)	5.0
  (26, 1)	4.0
  (27, 0)	6.0
  (27, 1)	2.0
  (28, 0)	11.0
  (28, 1)	2.0
  (29, 0)	12.0
  (29, 1)	5.0
  (30, 0)	1.0
  (30, 1)	1.0
  (31, 0)	3.0
  (31, 1)	3.0
  (32, 0)	5.0
  (32, 1)	3.0
  (33, 0)	8.0
  (33, 1)	2.0
  (34, 0)	11.0
  (34, 1)	4.0

In [30]:
# Merge both movie ratings and movie title data

model_knn = NearestNeighbors(metric="cosine",algorithm="brute",n_neighbors=10)
model_knn.fit(movies_users)

def recommender(movie_name, data, model,n_recommendation):
    model.fit(data);
    #print(data)
    print("You have selected : ", movie_titles["Title"][0])
    print("Searching for recommendation....")
    ## now apply k-nearrest neighbors
    distances, indices = model.kneighbors(data[0])
    #print(distances, indices)
recommender("toy story", movies_users,model_knn,100)

You have selected :  Dinosaur Planet
Searching for recommendation....