In [13]:
import numpy as np
import pandas as pd
import sklearn


# Load data
ratings_column = ["MovieID","UserID","Rating"]
movie_ratings = pd.read_csv("netflix/ratings.txt",delimiter=",",names=ratings_column)
movie_ratings.head()
movie_column = ["MovieID","YearofRelease","Title"]
movie_titles = pd.read_csv("netflix/movie_titles.txt",delimiter=",", encoding="ISO-8859-1",names=movie_column)
movie_titles.head()

   movieID    Year                          Name
0        1  2003.0               Dinosaur Planet
1        2  2004.0    Isle of Man TT 2004 Review
2        3  1997.0                     Character
3        4  1994.0  Paula Abdul's Get Up & Dance
4        5  2004.0      The Rise and Fall of ECW