In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
# load dataset
columns = ['userID','movieID','Rating']
user_movie_dataset = pd.read_csv('exampledataset/data_test.txt', delimiter=',', names=columns)
user_movie_dataset

   userID  movieID  Rating
0       1        1       2
1       1        3       3
2       2        1       5
3       2        2       2
4       3        1       3
5       3        2       3
6       3        3       1
7       4        2       2
8       4        3       2

In [5]:
# Step 1: make user-movie matrix
user_movie_mat = user_movie_dataset.pivot(index='userID', columns='movieID', values='Rating')
user_movie_mat

movieID    1    2    3
userID
1        2.0  NaN  3.0
2        5.0  2.0  NaN
3        3.0  3.0  1.0
4        NaN  2.0  2.0

In [ ]:
# Step 2: Item-item similarity matrix using cosine similarity